@import url("https://fonts.googleapis.com/css?family=Roboto");
.flex-center, .btn, header .title, header .main, header .main .icon, main .wraper_films, main .wraper_films .films .films_main {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-start, .buttons, header, main .wraper_films .films .film_footer, main .wraper_films .films .comments {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.flex-around, .form form, .form_editMovies form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.btn {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-right: 10px; }

.buttons .btn-cancel {
  background: #fe7c6f;
  border: solid #ff5343 1px; }
.buttons .btn-add {
  background: #6eccfe;
  border: solid #39b8fd 1px; }
.buttons .btn-delete {
  background: #fe7c6f;
  border: solid #ff5343 1px; }
.buttons .btn-edit {
  background: #6eccfe;
  border: solid #39b8fd 1px; }

.flex-center, .btn, header .title, header .main, header .main .icon, main .wraper_films, main .wraper_films .films .films_main {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-start, .buttons, header, main .wraper_films .films .film_footer, main .wraper_films .films .comments {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.flex-around, .form form, .form_editMovies form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #e2ebf2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

header {
  height: 100px;
  width: 100vw;
  background: #6eccfe; }
  header .title {
    height: 100%;
    width: 30%;
    background: #50aee0; }
    header .title h1 {
      font-weight: 200; }
  header .main {
    height: 100%;
    margin-left: 50px; }
    header .main .icon {
      height: 40px;
      width: 40px;
      background: white;
      border-radius: 50%;
      margin-right: 20px; }
    header .main .icon:hover {
      cursor: pointer; }

main {
  padding: 20px 0; }
  main .wraper_films {
    position: relative;
    height: 550px;
    width: 60%;
    margin: 0 auto; }
    main .wraper_films .films {
      height: 80%;
      width: 80%;
      border-radius: 15px;
      position: absolute;
      background: rgba(82, 37, 1, 0.5); }
      main .wraper_films .films .films_main {
        height: 85%;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
        main .wraper_films .films .films_main .wrap {
          height: 80%;
          width: 80%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(8, 1fr);
          grid-template-areas: "img img title title title" "img img text text text" "img img text text text" "img img details details details" "img img details details details" "img img details details details" "img img details details details" "img img buttons buttons buttons";
          grid-gap: 10px 20px; }
          main .wraper_films .films .films_main .wrap .film_img {
            grid-area: img;
            background: url("../images/bg-film.jpg") no-repeat center;
            background-size: cover; }
          main .wraper_films .films .films_main .wrap .title {
            grid-area: title; }
          main .wraper_films .films .films_main .wrap .text {
            grid-area: text;
            overflow: hidden; }
          main .wraper_films .films .films_main .wrap .details-film {
            grid-area: details;
            display: grid;
            overflow: hidden; }
          main .wraper_films .films .films_main .wrap .buttons {
            grid-area: buttons; }
      main .wraper_films .films .film_footer {
        background: white;
        height: 15%;
        width: 100%;
        border-radius: 0 0 15px 15px;
        color: #fe7c6f; }
        main .wraper_films .films .film_footer .count_comments {
          margin: 0 10px; }
        main .wraper_films .films .film_footer .icon_comments {
          height: 10px;
          width: 10px;
          color: #fe7c6f;
          background: url("../images/icons/icon-up.png") no-repeat center; }
      main .wraper_films .films .comments {
        flex-direction: column;
        align-items: flex-start; }
        main .wraper_films .films .comments .line {
          width: 100%;
          color: grey;
          margin: 10px 0; }
  main .wraper_films:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-film.jpg") no-repeat center;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); }

.form, .form_editMovies {
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 30vw;
  height: 450px;
  width: 50%;
  background: rgba(251, 251, 251, 0.856);
  background-size: cover;
  z-index: 10;
  color: white;
  border-radius: 0 0 7px 7px; }
  .form label, .form_editMovies label {
    color: black; }
  .form form, .form_editMovies form {
    height: 100%;
    width: 100%;
    align-items: stretch; }
  .form .form-row, .form_editMovies .form-row {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .form .form-row label, .form_editMovies .form-row label {
      width: 25%;
      margin: 5px; }
    .form .form-row input, .form .form-row textarea, .form_editMovies .form-row input, .form_editMovies .form-row textarea {
      width: 55%;
      border-radius: 3px;
      border: solid #afafaf 1px; }
    .form .form-row input, .form_editMovies .form-row input {
      height: 40px; }
  .form .form-row:last-child, .form_editMovies .form-row:last-child {
    flex-direction: row;
    margin: 20px 0 20px 0; }

/*# sourceMappingURL=style.css.map */
